.Header1 {
    position: relative;
    display: flex;
    padding: 1.5rem;
    background: url(https://images.pexels.com/photos/1756325/pexels-photo-1756325.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    font-size: x-large;
}

.Header1 .logo {
    position: relative;
    height: 90px;
}

.Header1 {
    display: flex;
    justify-content: space-between;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    color: #000000;
}


.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.back {
    background-image: url('https://marketplace.canva.com/EAFCO6pfthY/1/0/1600w/canva-blue-green-watercolor-linktree-background-F2CyNS5sQdM.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.back2 {
    background-image: url('https://media.istockphoto.com/id/1369516776/video/time-lapse-of-a-day-to-night-sequence-with-clouds-moving-fast-and-sun-rays-glowing-onto-the.jpg?s=640x640&k=20&c=mzhD3oi_gpdmSZxNkJhDv0HiiJ2TuWpBcneAvfli-Ic=');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.back3 {
    background-image: linear-gradient(to right, #b3f6f6, #bcbbcd);
}

.back4 {
    background-image: linear-gradient(100deg, #ffffff, #f7f2c2, #ffffff);
}

.navbar {
    padding: 2px;
    background-color: #41817fad;
    height: 2.3rem;

}

.navbar-nav .nav-link {
    padding: 0.2rem;
    color: #fff;
    transition: all 0.3s ease;
}


.navbar-nav .nav-link:hover {
    background-color: #535755;
    color: #06f7ff;
    border-radius: 0.25rem;

}

.Footerr {
    background-color: black;
    padding: 10px 10px;
}

.Footerr .social-icons {
    margin-top: 10px;
}

.Footerr .social-icons a {
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
    color: white;
}

.Footerr .social-icons a:hover {
    color: cyan;

}

.featured-box {
    background-color: rgba(255, 255, 255, 0.266);
    border-radius: 15px;
    padding: 20px;
    margin: auto;
    max-width: 90%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}


.featured-box .container {
    padding: 20px;
}

.card {
    border: none;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.02);
    transition: 0.3s ease;
}

.about-box {
    background-color: rgba(255, 255, 255, 0.596);
    border-radius: 15px;
    padding: 20px;
    margin: auto;
    max-width: 90%;
    box-shadow: 0 0 20px rgb(0, 0, 0);
}

.why-box {
    background-color: rgba(255, 255, 255, 0.571);
    border-radius: 15px;
    padding: 20px 30px;
    margin: auto;
    max-width: 70%;
    text-align: left;
    box-shadow: 0 0 20px rgb(0, 0, 0);
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
    border: 2px solid white;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgb(87, 87, 87);
}

.blog_img {
    height: 290px;
    width: 443px;
}

.form {
    padding: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px black;
}

.submitBtn {
    background-color: green;
    padding: 2px;
    border-radius: 3px;
    color: white;
    width: 100%;
}
